# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
.vscode/

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/

# Project specific
bin/
obj/

# User-specific files
*.rsuser
*.rslib

# Others
*.log
*.cache
*.csproj.user
*.dotCover

# Config folder
local-config/